*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
#container{
    min-height: 100%;
}
#main{
    overflow: auto;
}
.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
    position: relative;
    height: 200px;
    clear: both;
}
.footer_inner{
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.footer_inner .footer_logos{
    width: 30%;
    margin-right: 10px;
    float: left;
    height: 100%;
}
.footer_inner .footer_logos:last-child{
    margin-right: 0;
}
.footer_inner .footer_logos h1{
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.social{
    width: 50px;
    height: 50px;
}
.footer_inner .footer_logos li{
    display: inline-block;
    padding: 0 5px;
}